{% extends 'base.html.twig' %}

{% block body %}
  <body class="bbody">
    <div class="loginbox signup">
      <img src="{{asset('/images/ava.webp')}}" class="imgg" />
      <h1>Login Here</h1>
      <form>
        <span id="error"></span><br/>
        <p>Username</p>
        <input type="text" name="emailid" id="emailId" placeholder="Enter Email" required />
        <p>Password</p>
        <input type="password" name="pass" placeholder="Enter Password" id="pass" required />
        <input type="submit" name="login" value="login" id="login" />
        <a href="Reset" style="float: left">Forget Password?</a>
        <a href="signup" style="float: right">Don't have an Account?</a>
      </form>
    </div>
  </body>
{% endblock %}