{% extends 'base.html.twig' %}

{% block body %}
  <body class="bbody">
    <div class="loginbox resetpass">
        <img src="{{asset('images/ava.webp')}}" class="imgg" />
        <h1>Create New Password</h1>
        <form id="formpassreset">
            <span id="error"></span><br />
            <input type="password" name="pass" placeholder="Enter Password" id="pass" />
            <input type="password" name="confirmPass" placeholder="Confirm Password" id="cpass" />
            <input type="submit" name="login" value="Password Link" 
            id='resetP' token="{{token}}"/>
            <a href="login" style="float: left">LogIn</a>
        </form>
    </div>
    <div class="loader-div">
        <img class="loader-img" src="{{asset('images/Triple intersection.gif')}}" style="height:120px;width:auto;" />
    </div>
  </body>
{% endblock %}
